@model IEnumerable<HotelManagement.Models.Entities.RoomType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tên loại phòng</th>
            <th>Giá/đêm</th>
            <th>Sức chứa</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.PricePerNight.ToString("N0") VNĐ</td>
                <td>@item.Capacity</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>